body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header .logo{
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}

header .menu{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .menu-line{
    height: 4px;
    background-color: #333;
}


.container{
    display: flex;
    height: 100vh;
}

.container .leftside{
    flex: 1;
    background-color: #3B576D;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.container .info{
   color: #FFF;
}

.container .profession {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}

.container .name{
    font-weight: bold;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.container .buttons a{
    display: inline-block;
    background-color: #FFF;
    color: #3B576D;
    padding: 20px 40px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 10px #111;
    margin-right: 10px;
}

.container .buttons a.light{
    color: #fff;
    background-color: #3B576D;
}

.container .buttons a:hover{
    opacity: 0.8;
}

.container .rightside{
    flex: 1;
    background-color: #FFF;
    background-image: url('../images/hero.jpg');
    background-size: 100% auto;
    background-position: center top;
}


footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #FFF;
    font-size: 15px;
}

footer a{
    color: #FFF;
}